<!DOCTYPE html>
<html>
<head>
    <%= require('html!./include/meta_tpl.html')%>
    <%= require('html!./include/mobile_detect.html')%>
</head>
<body>
    <!-- 通用页面顶栏 -->
    <%= require('html!./include/header_tpl.html')%>

    <!-- 频道导航 -->
    <%= require('html!./include/nav_tpl.html')%>

    <!-- 页面内容 -->
    <div id="js_page_main" class="wrap clearfix">
        <div class="demo_content">
            <p>index.html</p>
            <p><a href="view.html?from=index">goto view.html</a></p>
            <p>content go there</p>
        </div>
    </div>

    <%= require('html!./include/footer_tpl.html')%>
    <%= require('html!./include/index_tpl.html')%>

    <%= require('html!./include/common_script.html')%>
</body>
</html>
