<!-- 主播的其他直播台 -->
<script type="text/x-jquery-tmpl" id="tpl_owner_ipcs_menus">
    {%if sn!=playInfo.sn%}
    <a href="view.html?sn=${sn}" title="换台到“${titlePub}”">${titlePub}(台号:${channel})</a>
    {%/if%}
</script>

<!-- 离线播放区域推荐列表 -->
<script type="text/x-jquery-tmpl" id="tpl_offline_recommend">
    <li>
        <a href="view.html?sn=${sn}" title="${titlePub}">
            <div class="vediocont"><img src="http://p5.qhimg.com/d/inn/c7e0892d/err_img.png" data-original="${thumbnail}" class="lazy" /><span></span><h4 class="vedioname-c"></h4></div>
            <div class="vediohao">直播台号：${channel}</div>
        </a>
        <p class="vediotit-c" title="${desc}">${titlePub}</p>
        <p class="vedioplay-c">
            <span><i class="icon-up2"></i>${voteNum} </span>
            <span><i class="icon-play2"></i>${viewNum}</span>
        </p>
        <span class="floatchamber">直播中</span>
    </li>
</script>

<!-- 相关直播&&热门推荐列表 -->
<script type="text/x-jquery-tmpl" id="recommend-list-tmpl">
    <div class="list-item _normal_item">
        <div class="item-title">
            <b>${cname}</b>
        </div>
        <div class="item-content clearfix">
            {%each camlist%}
            <dl>
                <dt>
                    <a href="view.html?sn=${$value.sn}" target="_blank" >
                    <img src="http://p5.qhimg.com/d/inn/c7e0892d/err_img.png" alt="${$value.titlePub}" data-original="${$value.thumbnail}" class="lazy">
                    <span class="channel">台号：${$value.channel}</span>
                    {%if online == 1 && status == 0%}
                    <span class="status"><i></i><label>直播中</label></span>
                    {%else%}
                    <span class="status offline"><i></i><label>休息中</label></span>
                    {%/if%}
                    <span class="overlay"></span>
                    </a>
                </dt>
                <dd class="desc" title="${$value.desc||$value.titlePub}">
                    <p class="viewnum view"><i></i>${$value.viewNum || 0}</p>
                    <a href="view.html?sn=${$value.sn}" target="_blank">${$value.titlePub || $value.desc||$value.titlePub}</a>
                </dd>
            </dl>
            {%/each%}
        </div>
    </div>
</script> 

<!-- 相关回放 -->
<script type="text/x-jquery-tmpl" id="correlation-replay-tmpl">
    <div class="wrap">
        <div class="recommend-ct category-list" bk="回放列表">
            <div class="list-item _normal_item">
                <div class="item-title">
                    <b>${cname}</b>
                </div>
                <div class="item-content clearfix">
                    {%each listData%}
                    <dl>
                        <dt>
                            <a href="view.html?topicid=${$value.topicid}" target="_blank" >
                            <img src="http://p5.qhimg.com/d/inn/c7e0892d/err_img.png" alt="${$value.title}" data-original="${$value.previewUrl}" class="lazy">
                            <span class="status"><i></i><label>回放</label></span>
                            <span class="overlay"></span>
                            </a>
                        </dt>
                        <dd class="desc" title="${$value.description||$value.title}">
                            <p class="viewnum view"><i></i>${$value.viewNum || 0}</p>
                            <a href="view.html?topicid=${$value.topicid}" target="_blank">${$value.title || $value.description||$value.title}</a>
                        </dd>
                    </dl>
                    {%/each%}
                </div>
            </div>

            {%if totalNum>pageRows%}
            <div class="page-box">
                {%tmpl({ totalNum:totalNum, pageRows: pageRows, curPage:curPage, firstPage: 0 } ) $("#tmpl_pagination")%}
            </div>
            {%/if%}
        </div>
    </div>
</script> 